<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@300;500&display=swap"
        rel="stylesheet">
    <!-- css style file -->
    <link href="css/style.css" rel="stylesheet" type="text/css">

    <title>My Porfolio Website</title>
</head>

<body>
    <!-- header -->
    <header>
        <div class="container">
            <nav class="navbar">
                <!-- logo -->
                <div class="navbar_logo">
                    <img src="images/DD.png" alt="website logo">
                </div>
                <!-- links -->
                <ul class="navbar_links">
                    <li class="navbar_link"><a href="/">HOME</a></li>
                    <li class="navbar_link"><a href="/about">ABOUT ME</a></li>
                    <li class="navbar_link"><a href="/projects">PROJECTS</a></li>
                    <li class="navbar_link"><a href="/contact">CONTACT</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- Contact -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="contact_left_column">
                    <h1 class="sub_title">Contact Me</h1>
                    <p>soundgreat12@gmail.com</p>
                    <p>437-xxx-xxxx</p>
                    <a href="./img/CV_DuongLeMinhDat.pdf" download class="button">Download CV</a>
                </div>
                <div class="contact_right_column">
                    <form action="mailto:soundgreat12@gmail.com">
                        <input type="text" name="Name" placeholder="Your Name" size="40" required>
                        <input type="email" name="Email" placeholder="Your Email" size="20" required>
                        <textarea name="Message" rows="6" placeholder="Question, comment or query"></textarea>
                        <input type="submit" class="button">
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer>
        <div class="container">
            <p class="footer_text">
                My name is Dat Duong, I'm from Vietnam <br>
                © 2023 by Dat Duong
            </p>
        </div>
    </footer>

</body>

</html>
