<header>
    <div class="container">
        <nav class="navbar">
            <!-- logo -->
            <div class="navbar_logo">
                <img src="images/DD.png" alt="website logo">
            </div>
            <!-- links -->
            <ul class="navbar_links">
                <li class="navbar_link"><a href="/">HOME</a></li>
                <li class="navbar_link"><a href="/about">ABOUT ME</a></li>
                <li class="navbar_link"><a href="/projects">PROJECTS</a></li>
                <li class="navbar_link"><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
    </div>
</header>
