<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@300;500&display=swap"
        rel="stylesheet">
    <!-- css style file -->
    <link href="css/style.css" rel="stylesheet" type="text/css">

    <title>Document</title>
</head>

<body>
    <!-- header -->
    <%- include('header') %>
    <!-- banner -->
    <section id="banner">
        <div class="container">
            <div class="banner_heading">
                <p>WELCOME TO MY PORFOLIO</p>
                <h1>Hi, I'm <span>Dat Duong</span><br>a Data Analyst.</h1>
            </div>
        </div>
    </section>

    <!-- footer -->
    <%- include('footer') %>

</body>

</html>