<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@300;500&display=swap"
        rel="stylesheet">
    <!-- css style file -->
    <link href="css/style.css" rel="stylesheet" type="text/css">

    <title>My Porfolio Website</title>
</head>

<body>
    <!-- header -->
    <header>
        <div class="container">
            <nav class="navbar">
                <!-- logo -->
                <div class="navbar_logo">
                    <img src="images/DD.png" alt="website logo">
                </div>
                <!-- links -->
                <ul class="navbar_links">
                    <li class="navbar_link"><a href="/">HOME</a></li>
                    <li class="navbar_link"><a href="/about">ABOUT ME</a></li>
                    <li class="navbar_link"><a href="/projects">PROJECTS</a></li>
                    <li class="navbar_link"><a href="/contact">CONTACT</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- about me -->
    <section id="me">
        <div class="container">
            <div class="row">
                <div class="column_1">
                    <img src="images/avatar.png" alt="Picture of myself">
                </div>
                <div class="column_2">
                    <h1 class="sub_title">About Me</h1>
                    <p>I'm Dat Duong, currently a sophomore at Ontario Tech University. Data visualization is my true
                        passion, and I'm wholeheartedly pursuing my dream job as a data analyst. Come along as I embark
                        on this thrilling journey, delving into the realm of data, unearthing valuable insights, and
                        skillfully crafting data-driven narratives through captivating visualizations. </p>
                    <video class="me_video" controls preload muted loop src="images/Project Name.mp4"
                        width="500"></video>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer>
        <div class="container">
            <p class="footer_text">
                My name is Dat Duong, I'm from Vietnam <br>
                © 2023 by Dat Duong
            </p>
        </div>
    </footer>

</body>

</html>
