<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@300;500&display=swap"
        rel="stylesheet">
    <!-- css style file -->
    <link href="css/style.css" rel="stylesheet" type="text/css">

    <title>My Porfolio Website</title>
</head>

<body>
    <!-- header -->
    <%- include('header') %>

    <!-- Porfilio -->
    <section id="projects">
        <div class="container">
            <h1 class="sub_title">My Work</h1>
            <div class="project_imgs">
                <div class="project_img">
                    <img src="images/world_population_1970.png" alt="1970 World Population">
                </div>
                <div class="project_img">
                    <img src="images/Covid Dashboard.png" alt="Covid Report Dashboard">
                </div>
                <div class="project_img">
                    <img src="images/population_continent.png" alt="Pupulation by Continent">
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <%- include('footer') %>

</body>

</html>